/* 全体 */
/* リンクっぽく装飾*/
.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.link:active {
  color: red;
}

/* ヘッダー */
#header-div {
  background-color: #32d232;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

#header {
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
  padding: 2px;
  cursor: pointer;
}

#header:active {
  background-color: #328c32;
  font-size: 23px;
  padding: 3px;
}

/* パンくずリスト */
#breadcrumbs_div {
  margin: 5px;
}

#breadcrumbs_div span {
  margin-left: 2px;
  margin-right: 2px;
}
