body {
  font-family: "メイリオ";
}

#header-div {
  background-color: aquamarine;
  height: 100px;
  display: table;
  width: 100%;
}

#header {
  font-size: xxx-large;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
